<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Error - {{.Code}}</title>
    <link rel="stylesheet" href="../../../Template/css/errors.css">
</head>

<body>
    <nav class="navbar">
        <a href="/" class="logo">Forum</a>
    </nav>

    <div class="container">
        <div class="error-card">
            <img src="https://media.istockphoto.com/id/1197233052/sv/vektor/sidan-hittades-inte-fel-404-robot-fix-reparation-fatal-br%C3%B6t-krasch-handritad-skiss-vektor.jpg?s=170667a&w=0&k=20&c=3xWhh68h8UVoTDnS-EiiGur2GPaGDthU5EETRJFPYYw="
                alt="" width="100%">
            <div class="error-code">Error {{.Code}}</div>
            <h1 class="error-message">{{.Message}}</h1>
            <a href="{{.Path}}" class="home-button">Return {{.Page}}</a>
        </div>
    </div>
</body>

</html>