<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forum - Post Details</title>
    <link rel="stylesheet" href="./Template/css/post.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
</head>

<body>
    <div class="container">
        <!-- Post Content -->
        <div class="post">
            <div class="post-header">
                {{if eq .User.Status "Connected"}}
                <div class="post-info">
                    <span class="post-author">{{.Post.Author}}</span>
                    <span class="post-date">{{.Post.CreatedAt}}</span>
                </div>
                {{end}}
            </div>
            <div class="post-options">
                <button class="edit-btn"><i class="fas fa-edit"></i><a href="/post/edit/{{.Post.ID}}">Edit</a></button>
                <button class="delete-btn"><i class="fas fa-trash"></i><a
                        href="/post/delete/{{.Post.ID}}">Delete</a></button>
            </div>
            <h1 class="post-title">{{.Post.Title}}</h1>
            <div class="category-tags">
                {{range .Post.Categories}}
                <span class="category-tag">#{{.}}</span>
                {{end}}
            </div>
            <p class="post-content">{{.Post.Content}}</p>
            <div class="post-actions">
                {{if eq .User.Status "Connected"}}
                <div class="like-dislike">
                    <button class="action-btn"><a href="/like/{{.Post.ID}}" class="myLink"><i
                                class="fas fa-thumbs-up"></i>
                            <span>{{.Post.TotalLikes}}</span></a></button>
                    <button class="action-btn"><a href="/dislike/{{.Post.ID}}" class="myLink"><i
                                class="fas fa-thumbs-down"></i>
                            <span>{{.Post.TotalDislikes}}</span></a></button>
                </div>
                {{else}}
                <div class="like-dislike">
                    <button class="action-btn"><i class="fas fa-thumbs-up"></i>
                        <span>{{.Post.TotalLikes}}</span></button>
                    <button class="action-btn"><i class="fas fa-thumbs-down"></i>
                        <span>{{.Post.TotalDislikes}}</span></button>
                </div>
                {{end}}
                <button class="comment-count"><i class="fas fa-comment">{{.Post.TotalComments}} Comment</a></button>
            </div>
        </div>

        <!-- Comments Section -->
        <div class="comments-section">
            <h3>Comments</h3>
            {{if eq .User.Status "Connected"}}
            <!-- New Comment Form -->
            <div class="new-comment">
                <form action="/post/{{.Post.ID}}" method="POST">
                    <div class="comment-form">
                        <textarea name="content" id="content" placeholder="Write a comment..." required></textarea>
                        <button type="submit"><i class="fas fa-paper-plane"></i> Post Comment</button>
                    </div>
                </form>
            </div>
            {{else}}
            <div class="comment-form">
                <p>Please log in to add a comment.</p>
            </div>
            {{end}}

            <!-- Existing Comments -->
            {{range .Comments}}
            <div class="comments-list">
                <div class="comment">
                    <div class="comment-content">
                        <div class="comment-header">
                            <span class="comment-author">{{.Author}}</span>
                            <span class="comment-date">{{.CreatedAt}}</span>
                        </div>
                        {{if eq $.User.Status "Connected"}}
                        <div class="comment-options">
                            <button class="edit-btn"><i class="fas fa-edit"></i><a
                                    href="/post/edit_comment/{{.PostID}}/{{.ID}}">Edit</a></button>
                            <button class="delete-btn"><i class="fas fa-trash"></i><a
                                    href="/post/delete_comment/{{.PostID}}/{{.ID}}">Delete</a></button>
                        </div>
                        {{end}}
                        <p>{{.Content}}</p>
                        <div class="comment-actions">
                            {{if eq .User.Status "Connected"}}
                            <div class="like-dislike">
                                <button class="action-btn"><a href="/post/like_comment/{{.PostID}}/{{.ID}}"
                                        class="myLink"><i class="fas fa-thumbs-up"></i>
                                        <span>{{.Post.TotalLikes}}</span></a></button>
                                <button class="action-btn"><a href="/post/dislike_comment/{{.PostID}}/{{.ID}}"
                                        class="myLink"><i class="fas fa-thumbs-down"></i>
                                        <span>{{.Post.TotalDislikes}}</span></a></button>
                            </div>
                            {{else}}
                            <div class="like-dislike">
                                <button class="action-btn"><i class="fas fa-thumbs-up"></i>
                                    <span>{{.Post.TotalLikes}}</span></button>
                                <button class="action-btn"><i class="fas fa-thumbs-down"></i>
                                    <span>{{.Post.TotalDislikes}}</span></button>
                            </div>
                            {{end}}
                        </div>
                    </div>
                </div>
            </div>
            {{end}}
        </div>
    </div>
</body>

</html>