<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registration - Form</title>
    <link rel="stylesheet" href="../Template/css/register.css">
</head>

<body>
    <div class="wrapper">
        <form action="/register" method="post">
            <h2>Register</h2>
            <div class="input-field">
                <input type="text" name="username" id="username" required>
                <label>Full Name</label>
            </div>
            <div class="input-field">
                <input type="email" id="email" name="email" required>
                <label>Email Address</label>
            </div>
            <div class="input-field">
                <input type="password" id="password" name="password" required>
                <label>Create Password</label>
            </div>
            <div class="input-field">
                <input type="password" id="confirm-password" name="confirm-password" required>
                <label>Confirm Password</label>
            </div>
            <button type="submit">Register</button>
            <p>Already have an account? <a href="/login"> Login</a></p>
        </form>
    </div>
</body>

</html>